/*  general */
* {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

h1 {
  color: #202163;
  font-family: "Muli", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

h2 {
  color: #202163;
  font-family: "Muli", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

h3 {
  color: #202163;
  font-family: "Muli", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h4 {
  color: #202163;
  font-family: "Muli", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  color: #202163;
  font-family: "Muli", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  max-width: 35rem;
}

button {
  background: none;
  border: 3px solid #202163;
  border-radius: 2rem;
  box-shadow: 0 6px 20px 0 rgba(1, 58, 117, 0.33);
  color: #202163;
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-right: auto;
  opacity: 0.5;
  outline: none;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

/* main */
main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* has to be removed, just for testing */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 16px;
  z-index: 100;
}
.up {
  font: bold 14px/1 sans-serif;
  color: white;
  width: 92px;
  padding: 8px;
  background-color: hsla(350, 80, 50, 0.8);
  float: right;
  cursor: pointer;
}
.up:hover {
  background-color: hsla(350, 80, 40, 0.8);
}

#repertoire-section,
#chart-section {
  display: block;
  height: 100%;
  position: relative;
  width: 50%;
}

/* repertoire info */
/* #repertoire-section {
  background-color: #edf4fe;
  padding: 1rem;
} */

#repertoire-section > header {
  background-image: radial-gradient(
      circle farthest-side at 78% 109%,
      #35c6e4,
      rgba(53, 198, 237, 0)
    ),
    radial-gradient(
      circle farthest-corner at 0% 100%,
      #6c43ff,
      rgba(108, 67, 253, 0)
    ),
    radial-gradient(
      circle farthest-corner at 0% 0%,
      #35c6e4,
      rgba(53, 198, 227, 0)
    ),
    radial-gradient(
      circle farthest-corner at 100% 0%,
      #5676f4,
      rgba(86, 118, 253, 0)
    );
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
}

#repertoire-section > header > .logo-repertoire {
  margin-bottom: auto;
  width: 15rem;
}

#repertoire-section > header > .intro-heading {
  color: white;
}

#repertoire-section > header > .intro-text {
  color: white;
  font-size: 1.35rem;
  font-weight: 500;
  line-height: 2.25rem;
  margin-bottom: auto;
  opacity: 0.5;
}

#repertoire-section > article {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 5rem 5rem 0;
  width: 100%;
}

#repertoire-section > article:last-child {
  margin-bottom: 5rem;
}

#repertoire-section > .name-section > section {
  border-radius: 1rem;
  box-shadow: 0 9px 35px 9px rgba(32, 33, 99, 0.04);
  margin-top: 3rem;
  min-height: 15rem;
  padding: 1rem;
  width: 50%;
}

/* treemap */

#chart-section {
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

.node {
  position: absolute;
  /* background: transparent url("") no-repeat 50% / cover; */
  /* border: 1px white solid; */
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.8s;
  cursor: pointer;
}

.label {
  display: inline;
  font-family: sans-serif;
  color: white;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: color 0.4s, opacity 0.8s, filter 0.8s;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.level-0 {
  z-index: 4;
  font-size: 15vmin;
  width: 100% !important;
}

#song {
  background-image: linear-gradient(
    to right bottom,
    #42ebdc,
    #5aede0,
    #6eefe3,
    #7ff1e7,
    #8ef3ea
  );
}

.level-1 {
  z-index: 3;
  font-size: 10vmin;
  width: 100% !important;
}

#digital-radio {
  background-image: linear-gradient(
    to right bottom,
    #8ef3ea,
    #98f4ec,
    #a1f5ee,
    #aaf6ef,
    #b3f7f1
  );
}

#non-digital-radio {
  background-image: linear-gradient(
    to right bottom,
    #6c43ff,
    #7c57ff,
    #8b6aff,
    #997cff,
    #a78eff
  );
}

.level-2 {
  z-index: 2;
  font-size: 5vmin;
  width: 100% !important;
}

#pro-image {
  background-image: linear-gradient(
    to right bottom,
    #71a3f3,
    #7aa9f4,
    #83aff5,
    #8bb4f5,
    #94baf6
  );
}

#record-label {
  background-image: linear-gradient(
    to right bottom,
    #a78eff,
    #ae98ff,
    #b6a1ff,
    #bdabff,
    #c4b4ff
  );
}
.level-3 {
  z-index: 1;
  font-size: 2.5vmin;
  width: 100% !important;
}

#music-publisher {
  background-image: linear-gradient(
    to right bottom,
    #94baf6,
    #9dc0f7,
    #a6c5f8,
    #afcbf8,
    #b8d1f9
  );
}

#record-artist {
  background-image: linear-gradient(
    to right bottom,
    #c4b4ff,
    #ccbdff,
    #d3c6ff,
    #dbd0ff,
    #e2d9ff
  );
}

.test-class {
  background-color: red;
}
