/*  general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right bottom,
    #42ebdc,
    #00d4f5,
    #00b8ff,
    #0095ff,
    #6464f8
  );
  height: 100vh;
  width: 100vw;
}

/*  header */
header {
  height: 10vh;
  padding: 1rem;
}

header .logo {
  width: 10rem;
}

/* main */
main {
  height: 80vh;
  padding: 1rem;
}

/* footer */
footer {
  height: 10vh;
  padding: 1rem;
}
